a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.gallery-item {
  width: calc(33.33% - 20px);
  list-style: none;
  margin-bottom: 25px;
}

.gallery-item img {
  width: 100%;
}

.gallery-image:hover {
  transform: scale(1.1);
  cursor: url(..images/pointer.png), pointer;
}
